@import './header/header.scss';
@import './constants/constants.scss';
@import './whyThrive/whyThrive.scss';
@import './aboutUs/aboutUs.scss';
@import './options/options.scss';
@import './facts/facts.scss';
@import './youKnow/youKnow.scss';
@import './contactUs/contactUs.scss';

@font-face {
  font-family: 'Larsseit';
  src: url(../fonts/Larsseit.ttf);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Larsseit', sans-serif;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}

.logo-link {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: $mainLogoColor;

  &:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  &:active {
    color: $activeLinkColor;
  }
}
