$mainLogoColor: #62d0df;
$mainFontColor: #22356f;
$headerColor: #f4f9e2;
$activeLinkColor:#2cb5df;
$focusBorderColor:#013444;
$headerTopButtonHover: #1fc1d6;
$headerBottomButtonHover:#f9b640;
$headerBottomButtonFontHover:#fff;
