//HEADER BLOCK
$mainLogoColor: #62d0df;
$mainFontColor: #22356f;
$headerColor: #f4f9e2;
$activeLinkColor:#2cb5df;
$focusBorderColor:#013444;
$headerTopButtonHover: #1fc1d6;
$headerBottomButtonHover:#f9b640;
$headerBottomButtonFontHover:#fff;

//WHY THRIVE BLOCK
$whyThriveBackground:  #62d0df;
$whyThriveFont: #fff;

//ABOUT US BLOCK
$aboutUsBackground: #fff;
$aboutUsContentFont: #22356f;
$helpYouTitleFont:  #22356f80;
$helpYouOptionsFont: #fff;
$helpYouOptionsWeightBackground: #ffe2de;
$helpYouOptionsRunningBackground: #c4e769;
$helpYouOptionsPumpingBackground: #62d0df;
$helpYouOptionsPumpingIronBackground: #0052c1;
