//HEADER BLOCK
$mainLogoColor: #62d0df;
$mainFontColor: #22356f;
$headerColor: #f4f9e2;
$activeLinkColor:#2cb5df;
$focusBorderColor:#013444;
$headerTopButtonHover: #1fc1d6;
$headerBottomButtonHover:#f9b640;
$headerBottomButtonFontHover:#fff;

//WHY THRIVE BLOCK
$whyThriveBackground:  #62d0df;
$whyThriveFont: #fff;

//ABOUT US BLOCK
$aboutUsBackground: #fff;
$aboutUsContentFont: #22356f;
$helpYouTitleFont:  #22356f80;
$helpYouOptionsFont: #fff;
$helpYouOptionsWeightBackground: #ffe2de;
$helpYouOptionsRunningBackground: #c4e769;
$helpYouOptionsPumpingBackground: #62d0df;
$helpYouOptionsPumpingIronBackground: #0052c1;
$helpYouOptionsMarker: #e9b730;

//OPTIONS BLOCK
$optionsMarker: #e9b730;
$optionsFont: #fff;
$optionsPhysicalBackground: #22356f;
$optionsMentalBackground: #0052c1;
$optionsNutritionBackground: #4326c7;
$optionsGymnasticsBackground: #62d0df;
$optionsCrossfitBackground: #dee1ff;
$optionsAerobicsBackground: #8f00ff;

//FACTS BLOCK
$factsBackground: #fff;
$factsFontColor: #22356f;

//YOU KNOW BLOCK
$youKnowBackground: #fff;
$youKnowImageBackground: #fab63e;
$youKnowContentFont: #22356f;
$youKnowLogoLinkHoverColor: #5cc3d1;
$youKnowBottomLink: #fab63e;
$youKnowBottomLinkHoverColor: #df9a23;
$youKnowBottomLinkActiveColor: #df7823;
